

/*content-phone-plus*/
.header-type1{
    margin-top: 120px;
}

.header-inner{
    text-align: center;

}

.m_content-phone-plus{
    max-width: 1920px;
    height: 2790px;
    border: black solid thin;
    margin: 0;
    padding: 0;
}

.m_content-feature-phone-plus{
    width: 100%;
    height: 1040px;
    margin: 0;
    padding: 0;
}

/*feature-smart-switch1*/
.m_content-feature-smart-switch1{
    width: 100%;
    height: 930px;
    margin: 0px;
    padding: 0px;
}

/*feature-smart-switch2*/
.m_content-feature-smart-switch2{
    width: 100%;
    height: 930px;
    margin: 0px;
    padding: 0px;
}

.icon-inner ul li{
    list-style-type: none;
    display: inline-block;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    /*height: 60px;*/
}


.h2_type1{
    font-family: Arial;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0;
    padding: 0;
}

.h3_type1{
    font-family: Arial;
    font-size: 56px;
    width: 800px;
    line-height: 64px;
    display: inline-block;
    text-align: center;
    margin: 5px;
    padding: 0;
}


.h3_type2{
    font-family: Arial;
    font-size: 40px;
    width: 800px;
    line-height: 46px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 0;
}

.p_detail-type1{
    font-family: Arial;
    font-size: 20px;
    width: 900px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    margin: 6px;
    padding: 5px;

}

.p_detail-type2{
    font-family: Arial;
    font-size: 16px;
    width: 900px;
    line-height: 22px;
    display: inline-block;
    text-align: center;
    margin: 6px;
    padding: 0;
}

.f_product{
    position: relative;
    height: 390px;
    margin-bottom: 20px;
}


.f_product figure{
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
}


.product-gear-vr{
    position: absolute;
    left: 20%;
    margin-top : 9.3%;

}
.product-dex{
    position: absolute;
    left: 58.8%;
    margin-top: 6.6%;
    z-index: 1;
}

.product-note-8{
    position: absolute;
    left: 46%;
    z-index: 2;
}

.product-gear-360{
    position: absolute;
    left: 53.7%;
    margin-top: 9.6%;
    z-index: 3;
}

.btn-type1 a{
    font-weight: bold;
    font-family: Arial;
    font-size: 13px;
    padding: 20px 50px;
    margin-top: 20px;
    border-radius: 50px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 40px;
    border: black solid thin;
    background-color: #fff;
    color: #000;
    cursor: pointer;

}
.btn-type2 a{
    font-weight: bold;
    font-family: Arial;
    font-size: 13px;
    padding: 20px 50px;
    margin-top: 20px;
    border-radius: 50px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 40px;
    border: black solid thin;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}



.btn-type1 a:hover{
    color: #fff;
    background: black;
}

.btn-type2 a:hover{
    color: #fff;
    background: black;
}

.btn-type1{
    margin-top: 5px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}


.f_smart-switch{
    text-align: center;

}

.a_smart-switch-new{
    background: url("images/galaxy-note8_btn_bg_icon_link-new-tab.png") no-repeat right top;
    font-family: Arial;
    font-size: 18px;
    line-height: 23px;
    background-size: 23px;
    padding-right: 33px;
    position: relative;
    display: inline-block;
}

.a_smart-switch-new span::after{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    background: black;
    width: 86%;
    height: 2.5px;
}

.a_smart-switch-new:hover{
    color: #41C7EB;
}


.a_smart-switch-new span em{
    font-weight: bold;
    font-style: normal;
}

.div_link-smart-switch{
    margin-top: 50px;
}


.div_link-smart-switch figure{
    margin-top: 35px;
}


.f_smart-switch2-video{
    margin-top: 30px;
    text-align: center;
}

.div_jump_control {
    width: 100%;
    height: 530px;
    background-color: #171717;
    position: relative;
    margin: 0;
    padding: 0;
}


.div_jump_control_buy{
    width: 100%;
    height: 200px;
    background-color: #0F0F0F;
    position: relative;
    margin: 0;
}

.prev{
    /*border: white solid;*/
    width: 600px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;

}

.prev_content{
    width: 180px;
    height: 200px;
    /*border: white solid;*/
    position: absolute;
    margin: 0;
    padding: 0;

}



.h3_jump_type{
    font-family: Arial;
    font-size: 24px;
    color: white;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 54%;
}

.h4_jump_type{
    font-family: Arial;
    font-size: 14px;
    color: #BCBCBC;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 45%;
}


.next{
    /*border: white solid;*/
    width: 600px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.next_content{
    width: 150px;
    height: 200px;
    /*border: white solid;*/
    position: absolute;
    right: 0;
    margin: 0;
}

.div_buy_now_text{
    width: 600px;
    height: 330px;
    position: absolute;
    left: 0;

}

.h3_jump_type1{
    font-family: Arial;
    font-size: 30px;
    color: white;
    margin: 0;
    width: 400px;
    position: relative;
    top: 100px;
    left: 50px;
}

.div_buy_now_img{
    position: absolute;
    right: 0;
}

.btn-type3 a{
    font-weight: bold;
    font-family: Arial;
    font-size: 13px;
    padding: 20px 50px;
    margin-top: 20px;
    border-radius: 50px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 40px;
    background-color: #000;
    border: white solid thin;
    color: #fff;
    cursor: pointer;
    position: relative;
    top: 170px;
    left: 50px;
}

.btn-type3 a:hover{
    background-color: #fff;
    color: #000;
}


i{
    content: " ";
    border: solid #BCBCBC;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 6px;
    height: 6px;
}

.i_right_transform{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 15px;
}

.i_left_transform{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 10px;
}


.div_prev_content_img{
    position: relative;
    top: 18%;
    /*border: white solid;*/
    width: 321px;
    left: 35%;
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;

}


.div_next_content_img{
    position: relative;
    /*border: white solid;*/
    width: 330px;
    left: 10%;
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}


.a_show-hide_img:hover + .div_prev_content_img{
    cursor: pointer;
    opacity: 1.0;
}

.a_show-hide_img:hover + .div_next_content_img{
    cursor: pointer;
    opacity: 1.0;
}




.path {
    stroke-dasharray: 100;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 100;
    }
    to {
        stroke-dashoffset: 0;
    }
}

